.login {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  width: 200px;
  height: 50px;
}

.password {
  width: 200px;
  height: 50px;
}
