.post-container {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid lightgray;
  margin-bottom: 60px;
}

.post-header {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin: 10px;
}

.profile-pic {
  margin: 5px;
  width: 30px;
  border-radius: 50%;
}

.username-post {
  font-weight: bold;
  margin: 0px;
}

.post-pic {
  max-width: 600px;
  width: 100%;
}

.likes {
  font-weight: bold;
  margin: 5px 10px;
}

.comment-icons {
  margin: 5px 10px;
  display: flex;
}

.heart {
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
}

.comment {
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
}
